<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>315401891843-2tpp8q11pvcqumc3b6kb67l3jp137voe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.315401891843-2tpp8q11pvcqumc3b6kb67l3jp137voe</string>
	<key>API_KEY</key>
	<string>AIzaSyBrDE1RggIQoZDB4aBkQ8KdWPe9iXHpIfk</string>
	<key>GCM_SENDER_ID</key>
	<string>315401891843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lamton.Capstone-WinMachines-WinFitness</string>
	<key>PROJECT_ID</key>
	<string>winfitness-ec238</string>
	<key>STORAGE_BUCKET</key>
	<string>winfitness-ec238.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:315401891843:ios:15f617531781e684909e36</string>
</dict>
</plist>